body

{
    margin-left: 0;
    background-color: #373536;

}

.menu

{
    z-index: 30;
    background-color: #FFFBF6; 
    height: 90px;
    top: 0px;
    padding-left: 0px;
    position: fixed;
    width: 100%;
    opacity: 0.7;


}


.menu a
{

    margin-left: 5px;
    text-decoration: none;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 1;
    font-size: medium;
}
    


p

{

    color: white;

}

.menu a:hover
{

    color: red;
    text-decoration: underline;

}

body img 

{
 
    position: relative;
    bottom: 40px;
    width: 100%;

}




.conteneur

{

    display: flex;
    flex-direction: row;
    justify-content: space-around;  

}

.menureserver

{

    background-color: rgba(225, 156, 196, 0.4);
    height: 90px;
    width: 100px;

   

}

.lemenu

{
    margin-top: 70px;

}

.lienréserver

{
    margin-top: 70px;
  
    

}

.lienréserver a
{
    color: red;


}

.pageaccueil
{
    height: 150px;
    width: 100%;
   

}

#lelabologo
{
    height: 100px;
    width: 100px;
    margin-bottom: 200px;
}




.menu

{

    background-color: #FFFBF6; 
    height: 90px;
    top: 0px;
    padding-left: 0px;
    position: fixed;
    width: 100%;
    opacity: 0.7;

}


.menu a
{

    margin-left: 5px;
    text-decoration: none;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 1;
    font-size: medium;
}
    


p

{

    color: white;

}

.menu a:hover
{

    color: red;
    text-decoration: underline;

}

body img 

{
 
    position: relative;
    bottom: 40px;
    width: 100%;
      

}




.conteneur

{

    display: flex;
    flex-direction: row;
    justify-content: space-around;  

}

.menureserver

{

    background-color: rgba(225, 156, 196, 0.4);
    height: 90px;
    width: 100px;

   

}

.lemenu

{
    margin-top: 70px;

}

.lienréserver

{
    margin-top: 70px;
  
    

}

.lienréserver a
{
    color: red;


}

.pageaccueil
{
    height: 150px;
    width: 100%;
   

}

#lelabologo
{
    height: 100px;
    width: 100px;
    margin-bottom: 200px;
    
}


main

{

    margin-bottom: 90px;

}

.conteneur1
{

margin-top: 180px;
display: flex;
flex-direction: row;
margin-left: 60px;


}

.boitecont1 

{
    width: 600px;
    

}

.boitecont1>h1
{

   font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

}

.boitecont1>p

{

font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
letter-spacing: 0.9px;
text-align: justify;
}

.boitecont2

{

  
   width: 600px;

}

.boitecont2


{
    animation: mouvement 2s  reverse ;
    margin-left: 200px;
   
    margin-right: 10px;
}

@keyframes mouvement {
    from {
        transform: translateX(0) rotate(0);
    }
   to {
    transform: translateX(300px) rotate(40deg);

   }
    
}

.btn-info {
  background-color: violet;
  }

.btn-light

{

    margin-left: 70px ;
    

}

.mao

{
        font-style: italic;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 12px;

}

.conteneur2

{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;  
    z-index: 8;
    position: relative;
  


}

.boitecont2-1

{

height: 380px;
width: 250px;
background-color: white;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
border-left: solid black 1px;
border-right: solid black 1px;
border-top: solid black 1px;


}



.boitecont2-2

{

    height: 380px;
    width: 250px;
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    border-top: solid black 1px;
    }



.boitecont2-3

        {

    height: 380px;
    width: 250px;
    background-color: white;
    border-top-right-radius: 10px;
border-top-left-radius: 10px;
border-left: solid black 1px;
 border-right: solid black 1px;
 border-top: solid black 1px;
    }


.boitecont2-4 

    {

    height: 380px;
    width: 250px;
    background-color: white;
    border-top-right-radius: 10px;
border-top-left-radius: 10px;
border-left: solid black 1px;
 border-right: solid black 1px;
 border-top: solid black 1px;

    }

.boitenfant

{

background-color:#08CCF3  ;
height: 100px;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: black;
font-size: 20px;
text-align: justify;
padding-top: 40px;
padding-left: 10px;

}

    .boitenfant2

    {


        background-color:#FE4F4F  ;
        height: 100px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black;
        font-size: 20px;
        text-align: justify;
        padding-top: 40px;
       padding-left: 10px;

    }

    .boitenfant3

    {


        background-color:#B64FFE    ;
        height: 100px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black;
        font-size: 20px;
        text-align: justify;
        padding-top: 40px;
       padding-left: 10px;

    }

    .boitenfant4

    {


        background-color: #08F398;
        height: 100px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black;
        font-size: 20px;
        text-align: justify;
        padding-top: 40px;
       padding-left: 10px;

    }

    .boitecont2-1>p

    {
        color: black;
        margin-left: 5px;
        font-size: 14px;
    }


    .boitecont2-2>p

        {
            color: black;
            margin-left: 5px;
            font-size: 14px;
        }

        .boitecont2-3>p
        
        {
            color: black;
            margin-left: 5px;
            font-size: 14px;
        }

        .boitecont2-4>p
        
        {
            color: black;
            margin-left: 5px;
            font-size: 14px;
        }

.bi
{
    margin-left: 90px;

}

.conteneur3


{

display: flex;
position: relative;
flex-direction: row;
justify-content: space-evenly; 
z-index: 9;



}

.élémentboostrap1

{

    height: 50px;
    width: 250px;
    background-color: white;
    position: relative;
    z-index: 8;
    border-bottom: solid black 1px;
    border-left: solid black 1px;
    border-right: solid black 1px;
 
 
}

.élémentboostrap2

{

    height: 50px;
    width: 250px;
    background-color: white;
    position: relative;
    z-index: 7;
    border-bottom: solid black 1px;
    border-left: solid black 1px;
    border-right: solid black 1px;

    
}

.élémentboostrap3

{

    height: 50px;
    width: 250px;
    background-color: white;
    position: relative;
    z-index: 6;
    border-bottom: solid black 1px;
    border-left: solid black 1px;
    border-right: solid black 1px;

   
}


.élémentboostrap4

{

    height: 50px;
    width: 250px;
    background-color: white;
    position: relative;
    z-index: 5;
    border-bottom: solid black 1px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    
}



.bi-file-music

{

    margin-left: -10px;
    animation: effet2 1s alternate infinite;


}


.bi-filetype-mp3

{

    margin-left: -10px;
    animation: effet 1s alternate infinite;

}

.bi-speaker

{

    margin-left: -10px;
    animation: effet2 1s alternate infinite;
}


.bi-emoji-smile

{

    margin-left: -10px;
    animation: effet 1s alternate infinite;

}

@keyframes effet {

    from{margin margin-left :0px;}
    to {margin-left: 10px;}
}

@keyframes effet2 {

    from{margin margin-right: ; :0px;}
    to {margin-right: 10px;}
}


#logolelabo

{
height: 200px;
width: 250px;
padding-left: 30px;
}

.imagecont1

{

height: 100px;
width: 100px;


}

.conteneur4
{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 300px;
    background-color: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    z-index: 0;
    bottom: 50px;
    justify-content: space-between;
  

}

#imgcont4
{
    height: 100px;
    width: 200px;
    margin-top: 200px;
    margin-left: 0px;  

}

#imgcont4-1
{
    height:100px;
    width:200px ;
    margin-top: 200px;

}

#imgcont4-2

{
    height: 100px;
    width: 200px;
    margin-top: 200px;

}

#imgcont4-3

{
    height: 100px;
    width: 200px;
    margin-top: 200px;

}

#imgcont4-4

{
    height: 100px;
    width: 200px;
    margin-top: 200px;

}

@keyframes imgmouvement {
    0%{
      transform: translateX(-700%);
    }
    100%{
      transform: translateX(700%);
    }
  }
  
  .blockimage

  {
    animation: imgmouvement 25s linear infinite ;
  }
  
.conteneur5

{
    height: 660px;
    background-color: #E9D5F5     ;
    width: 100%;
    position: relative;
    bottom: 50px;

}

#telephoneimage

{

    height: 600px;
    width: 400px;
    position: absolute;
    bottom: 0%;
    right: 80%;
    animation: telephone1 20s linear infinite;

}


#telephoneimage2

{
    height: 700px;
    width: 500px;
    position: absolute;
    top: -14%;
    right: -15%;
    animation: telephone2 20s linear infinite;    

}



@keyframes telephone1

{
    0%
        {right: 80%;}
    25%
        {right: 70%;}
    50%
        {right: 80%;}  
    70%  
        {right : 70%}  
    100%
        {right : 80%}
   
}

@keyframes telephone2

{
    0%
        {right: -15%;}
    25%
        {right: -10%;}
    50%
        {right: -15%;}  
    70%  
        {right: -10%}  
    100%
        {right;: -15%}
   
}


#bulle1
{
    position: absolute;
    height: 300px;
    width: 300px;
    left : 20%;
    top : -4%;
}

#bulle2
{
    position: absolute;
    height: 300px;
    width: 300px;
    left : 45%;
    bottom: 40%;
}



#bulle3
{
    position: absolute;
    height: 300px;
    width: 300px;
    left : 30%;
    bottom: 10%;
}

#bulle4
{
    position: absolute;
    height: 300px;
    width: 300px;
    left : 60%;
    bottom: 0%;
}

.conteneur6

{

    position: relative;
    height: 2000px;
    width: 100%;
    color: black;
    background-color: white;
    bottom: 50px;
  
    
    
    


}

.conteneur6>h1

{

    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: 50px;

}







.boiteimagemix>a

{
color: white;
margin-left: 5px;
font-size: 15px;
text-decoration: none;
}

.boiteimagemix>p

{
color: white;
margin-left: 5px;
font-size: 15px;

}

.boiteimagemix>a:hover

{

    color: red;
    

}

.stylerapimage

{
    padding-right: 10px;
    

}

.rapimg img


{
    height: 400px;
    width: 300px;
    margin-left: 20px;
    margin-top: 100px;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;


}

.rapimgboite

{
    position: relative;
    bottom: 60px;
    height: 80px;
    margin-left: 20px;
    background-color:grey;
    color: white ;
    width: 300px;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px ;
    text-align: center;
}

.rapimgboite a

{

    text-decoration: none;
    color: white;
    font-size: 15px;

}

.rapimgboite a:hover 
{
        color: red;

}

.rapimgboite p

{
    font-size: 10px;
    margin-top: 3px;

}

.conteneur7

{

    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 580px;
    left: 500px;
}

.popimg img

{

    height: 200px;
    width: 300px;
    margin-left: 20px;
    margin-top: 100px;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;   


}

.popimgboite

{

    width: 300px;
    height: 70px;
    color: white;
    background-color: #FE4F4F;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px ;   
    margin-left: 20px;
    text-align: center;
    position: relative;
    bottom: 60px;

}

.popimgboite a

{

    text-decoration: none;
    color: white;
    font-size: 15px;

}

.popimgboite a:hover 
{
        color: red;

}

.popimgboite p

{
    font-size: 10px;
    margin-top: 3px;

}

.afroimg img

{

    height: 200px;
    width: 300px;
    margin-left: 20px;
    margin-top: 100px;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;   


}

.afroimgboite

{

    width: 300px;
    height: 70px;
    color: white;
    background-color: #E7D16E;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px ;   
    margin-left: 20px;
    text-align: center;
    position: relative;
    bottom: 60px;

}

.afroimgboite a

{

    text-decoration: none;
    color: white;
    font-size: 15px;

}

.afroimgboite a:hover 
{
        color: red;

}

.afroimgboite p

{
    font-size: 10px;
    margin-top: 3px;

}


