body

{
margin-left: 0;
background-color: #373536;
}

.menu

{

    background-color: #FFFBF6; 
    height: 90px;
    top: 0px;
    padding-left: 0px;
    position: fixed;
    width: 100%;
    opacity: 0.7;

}


.menu a
{

    margin-left: 5px;
    text-decoration: none;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 1;
    font-size: medium;
}
    


p

{

color: white;

}

.menu a:hover
{

color: red;
text-decoration: underline;

}

body img 

{
 
    position: relative;
    bottom: 40px;
    width: 100%;
    




   

}




.conteneur

{

    display: flex;
    flex-direction: row;
    justify-content: space-around;  

}

.menureserver

{

    background-color: rgba(225, 156, 196, 0.4);
    height: 90px;
    width: 100px;

   

}

.lemenu

{
margin-top: 70px;

}

.lienréserver

{
    margin-top: 70px;
  
    

}

.lienréserver a
{
color: red;


}

.pageaccueil
{
    height: 150px;
    width: 100%;
   

}

#lelabologo
{
height: 100px;
width: 100px;
margin-bottom: 200px;
}




.menu

{

    background-color: #FFFBF6; 
    height: 90px;
    top: 0px;
    padding-left: 0px;
    position: fixed;
    width: 100%;
    opacity: 0.7;

}


.menu a
{

    margin-left: 5px;
    text-decoration: none;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 1;
    font-size: medium;
}
    


p

{

color: white;

}

.menu a:hover
{

color: red;
text-decoration: underline;

}

body img 

{
 
    position: relative;
    bottom: 40px;
    width: 100%;
    




   

}




.conteneur

{

    display: flex;
    flex-direction: row;
    justify-content: space-around;  

}

.menureserver

{

    background-color: rgba(225, 156, 196, 0.4);
    height: 90px;
    width: 100px;

   

}

.lemenu

{
margin-top: 70px;

}

.lienréserver

{
    margin-top: 70px;
  
    

}

.lienréserver a
{
color: red;


}

.pageaccueil
{
    height: 150px;
    width: 100%;
   

}

#lelabologo
{
height: 100px;
width: 100px;
margin-bottom: 200px;
}


main

{

    margin-top: 90px; 
    margin-left: 60px;
    width: 500px;


}

main h1 

{

    color: white;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

main p 

{
    text-align: justify;
    letter-spacing: 0.5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}