body

{
margin-left: 0;
background-color: #373536;
b
}

.menu

{
    z-index: 1;
    background-color: #FFFBF6; 
    height: 90px;
    top: 0px;
    padding-left: 0px;
    position: fixed;
    width: 100%;
    opacity: 0.7;


}


.menu a
{

    margin-left: 5px;
    text-decoration: none;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 1;
    font-size: medium;
}
    


p

{

color: white;

}

.menu a:hover
{

color: red;
text-decoration: underline;

}

body img 

{
 
    position: relative;
    bottom: 40px;
    width: 100%;
    




   

}




.conteneur

{

    display: flex;
    flex-direction: row;
    justify-content: space-around;  

}

.menureserver

{

    background-color: rgba(225, 156, 196, 0.4);
    height: 90px;
    width: 100px;

   

}

.lemenu

{
margin-top: 70px;

}

.lienréserver

{
    margin-top: 70px;
  
    

}

.lienréserver a
{
color: red;


}

.pageaccueil
{
    height: 150px;
    width: 100%;
   

}

#lelabologo
{
height: 100px;
width: 100px;
margin-bottom: 200px;
}




.menu

{

    background-color: #FFFBF6; 
    height: 90px;
    top: 0px;
    padding-left: 0px;
    position: fixed;
    width: 100%;
    opacity: 0.7;

}


.menu a
{

    margin-left: 5px;
    text-decoration: none;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 1;
    font-size: medium;
}
    


p

{

color: white;

}

.menu a:hover
{

color: red;
text-decoration: underline;

}

body img 

{
 
    position: relative;
    bottom: 40px;
    width: 100%;
    




   

}




.conteneur

{

    display: flex;
    flex-direction: row;
    justify-content: space-around;  

}

.menureserver

{

    background-color: rgba(225, 156, 196, 0.4);
    height: 90px;
    width: 100px;

   

}

.lemenu

{
margin-top: 70px;

}

.lienréserver

{
    margin-top: 70px;
  
    

}

.lienréserver a
{
color: red;


}

.pageaccueil
{
    height: 150px;
    width: 100%;
   

}

#lelabologo
{
height: 100px;
width: 100px;
margin-bottom: 200px;
}


main

{

    margin-bottom: 90px;

}

.conteneur1
{

margin-top: 180px;
display: flex;
flex-direction: row;
margin-left: 60px;


}

.boitecont1 

{
    width: 600px;
    

}

.boitecont1>h1
{

   font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

}

.boitecont1>p

{

font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
letter-spacing: 0.9px;
text-align: justify;
}

.boitecont2

{

  
   width: 600px;

}

.boitecont2


{
    animation: mouvement 2s  reverse ;
    margin-left: 200px;
   
    margin-right: 10px;
}

@keyframes mouvement {
    from {
        transform: translateX(0) rotate(0);
    }
   to {
    transform: translateX(300px) rotate(40deg);

   }
    
}

.btn-info {
  background-color: violet;
  }

.btn-light

{

    margin-left: 70px ;
    

}

.mao

{
        font-style: italic;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 12px;

}

.conteneur2

{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;  
  


}

.boitecont2-1

{

height: 380px;
width: 250px;
background-color: white;
border-top-right-radius: 10px;
border-top-left-radius: 10px;


}



.boitecont2-2

{

    height: 380px;
    width: 250px;
    background-color: white;
    border-top-right-radius: 10px;
border-top-left-radius: 10px;
    }



.boitecont2-3

{

    height: 380px;
    width: 250px;
    background-color: white;
    border-top-right-radius: 10px;
border-top-left-radius: 10px;
    }


.boitecont2-4 

{

    height: 380px;
    width: 250px;
    background-color: white;
    border-top-right-radius: 10px;
border-top-left-radius: 10px;

    }

    .boitenfant

    {


        background-color:#08CCF3  ;
        width: 250px;
        height: 100px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black;
        font-size: 20px;
        text-align: justify;
        padding-top: 40px;
       padding-left: 10px;

    }

    .boitenfant2

    {


        background-color:#FE4F4F  ;
        width: 250px;
        height: 100px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black;
        font-size: 20px;
        text-align: justify;
        padding-top: 40px;
       padding-left: 10px;

    }

    .boitenfant3

    {


        background-color:#B64FFE    ;
        width: 250px;
        height: 100px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black;
        font-size: 20px;
        text-align: justify;
        padding-top: 40px;
       padding-left: 10px;

    }

    .boitenfant4

    {


        background-color: #08F398   ;
        width: 250px;
        height: 100px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black;
        font-size: 20px;
        text-align: justify;
        padding-top: 40px;
       padding-left: 10px;

    }

    .boitecont2-1>p

    {
        color: black;
        margin-left: 5px;
        font-size: 14px;


    }


    .boitecont2-2>p

        {
            color: black;
            margin-left: 5px;
            font-size: 14px;
    
    
        }

        .boitecont2-3>p
        
        {
            color: black;
            margin-left: 5px;
            font-size: 14px;
    
    
        }

        .boitecont2-4>p
        
        {
            color: black;
            margin-left: 5px;
            font-size: 14px;
    
    
        }

.bi
{
    margin-left: 90px;

}

.conteneur3


{

display: flex;
flex-direction: row;
justify-content: space-evenly; 



}

.élémentboostrap1

{

    height: 50px;
    width: 250px;
    background-color: white;
   
 
 
}

.élémentboostrap2

{

    height: 50px;
    width: 250px;
    background-color: white;
   
    
 

}

.élémentboostrap3

{

    height: 50px;
    width: 250px;
    background-color: white;
   

   
}


.élémentboostrap4

{

    height: 50px;
    width: 250px;
    background-color: white;
    
    
}



.bi-file-music

{

    margin-left: -10px;
    animation: effet2 1s alternate infinite;


}


.bi-filetype-mp3

{

    margin-left: -10px;
    animation: effet 1s alternate infinite;

}

.bi-speaker

{

    margin-left: -10px;
    animation: effet2 1s alternate infinite;
}


.bi-emoji-smile

{

    margin-left: -10px;
    animation: effet 1s alternate infinite;

}

@keyframes effet {

    from{margin margin-left :0px;}
    to {margin-left: 10px;}
}

@keyframes effet2 {

    from{margin margin-right: ; :0px;}
    to {margin-right: 10px;}
}

.conteneur4
{

    display: flex;
    width: 99%;
    background-color: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 150px;


}

#logolelabo

{
height: 200px;
width: 250px;
padding-left: 30px;
}